/*
 * COLORS
 */
/*
 * FONT STYLES
 */
.flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-line-pack: stretch;
  align-content: stretch; }
  .flex.justified-c {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center; }
  .flex.justified-start {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
            justify-content: flex-start; }
  .flex.justified-end {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
            justify-content: flex-end; }
  .flex.justified-space {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
            justify-content: space-between; }
  .flex.justified-c {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
            justify-content: center; }
  .flex.centered {
    -ms-flex-align: center;
    -webkit-box-align: center;
            align-items: center; }
  .flex.start {
    -ms-flex-align: start;
    -webkit-box-align: start;
            align-items: flex-start; }
  .flex.column {
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column; }
  .flex.align-stretch {
    -ms-flex-align: stretch;
    -webkit-box-align: stretch;
            align-items: stretch; }
  .flex.wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }

.flex-child.stretch {
  -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
          flex: 1 1 auto;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch; }
.flex-child.end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }
.flex-child.start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start; }
.flex-child.center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
.flex-child.justified-c {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center; }

h1, h2, h3, h4, h5, h6, p, span, a {
  font-family: Arial, "Helvetica";
  color: #1C1C1B; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 800; }

p, span, a {
  font-weight: 400; }

body {
  margin: 0;
  padding: 0; }
  body .header {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 0 30px;
    height: 44px;
    background: #fafafa; }
    body .header img {
      height: 30px;
      margin-left: 5px; }
    body .header .title {
      text-transform: uppercase;
      font-weight: 800; }
  body .container .navigation {
    background: #73CAEB;
    height: calc(100vh - 40px);
    width: 100px; }
    body .container .navigation a {
      color: #ffffff;
      text-decoration: none;
      -webkit-box-sizing: border-box !important;
      box-sizing: border-box !important;
      width: 100px;
      height: 100px;
      background: #73caeb;
      border-bottom: 1px solid #fff;
      text-align: center;
      padding: 34px;
      cursor: pointer; }
      body .container .navigation a i {
        color: #ffffff;
        font-size: 29px;
        text-align: center;
        -ms-flex-order: 0;
        -webkit-box-ordinal-group: 1;
        order: 0;
        -ms-flex: 0 1 auto;
        -webkit-box-flex: 0;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto; }
      body .container .navigation a.active {
        background: #2B98D4; }
    body .container .navigation .padded {
      border-bottom: 1px solid #fff;
      -ms-flex-order: 0;
      -webkit-box-ordinal-group: 1;
              order: 0;
      -ms-flex: 2 1 auto;
      -webkit-box-flex: 2;
              flex: 2 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; }
  body .container .content {
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    padding: 30px; }
