table(users)
    thead
      tr
        th actief
        th naam
        th actie
    tbody
      each user, i in users
        tr
          td= user.active
          td= user.name
          td 
            i.fa.fa-pencil
            i.fa.fa-trash