@mixin box-sizing() {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
  }
 
 @mixin transition($item, $time, $type){
    -webkit-transition: $item $time $type;
       -moz-transition: $item $time $type;
         -o-transition: $item $time $type;
            transition: b$item $time $type;
 }