/*
 * COLORS
 */
$dark-blue: #2B98D4;
$light-blue: #73CAEB;
$orange: #FFA734;
$black: #1C1C1B;
$white: #ffffff;
$gray: #fafafa;
/*
 * FONT STYLES
 */
$font-family: Arial, "Helvetica";
$bold: 800;
$regular: 400;
$thin: 200;