/*
 * COLORS

$red: rgb(255, 76, 52);
$dark: rgb(7, 49, 65);
 */
 $dark-blue: #2B98D4;
 $light-blue: #73CAEB;
 $orange: #9D0D20;
 $black: #1C1C1B;
 $white: #ffffff;
 $gray: #fafafa;
 $shadow: #d1d1d1;
 $red: rgb(255, 76, 52);
/*
 * FONT STYLES
 */
$font-family: Arial, "Helvetica";
$bold: 800;
$regular: 400;
$thin: 200;

/*
 *   DEFAULT
 */

button, a {
    cursor: pointer;
}