
@import 'base';
@import '_helpers';

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: $font-family;
    color: $black;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: $bold;
}

p, span, a {
    font-weight: $regular;
}

body{
    margin: 0;
    padding: 0;
    .header {
        -webkit-box-sizing: border-box !important;
        -moz-box-sizing: border-box;
        box-sizing: border-box !important;
        padding: 0 35px;
        height: 44px;
        background: $gray;
        box-shadow: 0px 3px 2px #d1d1d1;
        img {
            height: 30px;
        }
        .title {
            text-transform: uppercase;
            font-weight: $bold;
        }
    }
    .container {
        .navigation {
            box-shadow: 2px 3px 2px #d1d1d1;
            background: $light-blue;
            height: calc(100vh - 40px);
            width: 100px;
            a {
                color: $white;
                text-decoration: none;
                -webkit-box-sizing: border-box !important;
                -moz-box-sizing: border-box;
                box-sizing: border-box !important;
                width: 100px;
                height: 100px;
                background: $light-blue;
                border-bottom: 1px solid #fff;
                text-align: center;
                padding: 34px;
                cursor: pointer;

                i {
                    color: $white;
                    font-size: 29px;
                    text-align: center;
                    -ms-flex-order: 0;
                    -webkit-box-ordinal-group: 1;
                    order: 0;
                    -ms-flex: 0 1 auto;
                    -webkit-box-flex: 0;
                    flex: 0 1 auto;
                    -webkit-align-self: auto;
                    -ms-flex-item-align: auto;
                    align-self: auto;
                }
                &.active{
                    background: $dark-blue;
                }
            }
            .padded {
                border-bottom: 1px solid #fff;
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 2 1 auto;
                -ms-flex: 2 1 auto;
                flex: 2 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
            }
        }
        .content{
            -webkit-box-sizing: border-box !important;
            -moz-box-sizing: border-box;
            box-sizing: border-box !important;
            padding: 30px;
            width: 100%;
            .flex h1 {
                font-weight: 800;
                text-align: center;
                width: 50%;
                font-size: 20px;
                text-transform: uppercase;
                background: orange;
                padding: 5px;
                border: 1px solid white;
                color: white;
                margin: 0;
                box-shadow: 2px 1px 6px #dfdfdf;
            }
            table {
                width: 100%;
                thead {
                    background: $gray;
                    height: 40px;
                    tr {
                        box-shadow: 2px 1px 6px #dfdfdf;
                        th{
                            font-family: $font-family;
                            font-weight: $thin;
                            font-size: 10px;
                        }
                    }
                } 
                tbody {
                    tr {
                        box-shadow: 2px 1px 6px #dfdfdf;
                        td {
                            font-family: $font-family;
                            font-weight: $thin;
                            padding: 3px;
                            &.actions {
                                text-align: end;
                                i {
                                    font-size: 19px;
                                    margin: 0 10px;
                                }
                            }
                            .active {
                                background: rgb(24, 237, 71);
                                height: 15px;
                                width: 15px;
                                border-radius: 100%;
                                margin: 10px calc(50% - 10px);
                                }
                            .inactive {
                                background: rgb(240, 20, 71);
                                height: 15px;
                                width: 15px;
                                border-radius: 100%;
                                margin: 10px calc(50% - 10px);
                            }
                        }
                    }
                }
            }
            .flex table {
                width: 50%;
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 1 1 auto;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
            }
            #alert, #create {
                -webkit-box-sizing: border-box !important;
                -moz-box-sizing: border-box;
                box-sizing: border-box !important;
                position: absolute;
                top: 44px;
                bottom: 0;
                left: 100px;
                right: 0;
                background: rgba(23, 23, 23, 0.7);
                &.visible {
                    display: block;
                }
                &.hide {
                    display: none;
                }
                .box {
                    -webkit-box-sizing: border-box !important;
                    box-sizing: border-box !important;
                    background: #fff;
                    width: 30%;
                    margin: 10% 35%;
                    padding: 50px;
                    text-align: center;
                    form {
                        label {
                            font-family: $font-family;
                            font-size: 13px;
                            font-weight: $bold;
                        }
                        button {
                            border: none;
                            border-radius: 50px;
                            background: $orange;
                            padding: 10px 20px;
                        }
                    }
                    button {
                        border: none;
                        border-radius: 50px;
                        background: $orange;
                        padding: 10px 20px;
                    }
                }
            }
            #create {
                .box {
                    margin: 4% 30%;
                    height: 70%;
                    form {
                        .form-item {
                            margin: 15px 0;
                        }
                        button {
                            width: 100%;
                        }
                    }
                }
                .btn-close {
                    position: absolute;
                    font-size: 20px;
                    background: none;
                    border: none;
                    color: $orange;
                    margin: 5% 0 0 57%;
                    cursor: pointer;
                }
            }
        }
    }
}