
@import 'base';
@import '_helpers';
@import '_mixin';
@import '_animations';

h1, h2, h3, h4, h5, h6, p, span, a {
    font-family: $font-family;
    color: $black;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: $bold;
}
h1 {
    font-size: 25px;
}
p, span, a {
    font-weight: $regular;
}
.btn-close {
    @include box-sizing;
    position: absolute;
    right: 25px;
    top: 10px;
    padding: 7px 10px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    z-index: 1;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background: black;
    @include transition(background-color, 0.6s, ease-in-out);
                @include transition(color, 0.1s, ease-in-out);
    &:hover {
        background: white;
        color: black;
        border-radius: 100%;
        padding: 7px 10px;
        width: 40px;
        height: 40px;
        font-size: 25px;
        animation: rotateHover 1.5s ease-in-out;
        cursor: pointer;
        @include transition(background-color, 1s, ease-in-out);
        @include transition(color, 1s, ease-in-out);
    }
}

body{
    margin: 0;
    padding: 0;
    .header {
        @include box-sizing;
        padding: 0 35px;
        height: 50px;
        background: $black;
        border-bottom: 1px solid white;
        text-align: right;
        img {
            height: 30px;
            margin: 0 0 0 20px;
        }
        .title {
            text-transform: uppercase;
            font-weight: $bold;
            color: $white;
        }
    }
    .container {
        .navigation {
            background: $light-blue;
            height: calc(100vh - 50px);
            width: 100px;
            a {
                color: $white;
                text-decoration: none;
                @include box-sizing(); 
                width: 100px;
                height: 100px;
                background: $dark-blue;
                text-align: center;
                padding: 34px;
                cursor: pointer;
                &:hover {
                    background: $light-blue;
                }
                i {
                    color: $white;
                    font-size: 29px;
                    text-align: center;
                    -ms-flex-order: 0;
                    -webkit-box-ordinal-group: 1;
                    order: 0;
                    -ms-flex: 0 1 auto;
                    -webkit-box-flex: 0;
                    flex: 0 1 auto;
                    -webkit-align-self: auto;
                    -ms-flex-item-align: auto;
                    align-self: auto;
                }
                &.active{
                   background: $white;
                   i {
                        color: $dark-blue
                   }
                }
            }
            .padded {
                -webkit-order: 0;
                -ms-flex-order: 0;
                order: 0;
                -webkit-flex: 2 1 auto;
                -ms-flex: 2 1 auto;
                flex: 2 1 auto;
                -webkit-align-self: auto;
                -ms-flex-item-align: auto;
                align-self: auto;
                background: $dark-blue;
            }
        }
        .content{
            width: 100%;
            .users {
                @include box-sizing;
                padding: 30px;
                width: 100%;
                .flex h1 {
                    font-weight: 400;
                    text-align: center;
                    width: 50%;
                    font-size: 14px;
                    text-transform: uppercase;
                    background-color: $orange;
                    padding: 10px;
                    margin: 1px;
                    color: white;
                    box-shadow: 2px 1px 3px $shadow;
                }
                .flex p {
                    border-radius: 7px;
                    text-align: center;
                    align-self: flex-end;
                    margin: 4px;
                    margin-left: 0;
                    padding: 7px 15px;
                    background: $dark-blue;
                    font-size: 11px;
                    color: white;
                    &:hover{
                      background: $light-blue;
                        cursor: pointer;
                    }
                }
                table {
                    width: 100%;
                    thead {
                        background: $gray;
                        height: 40px;
                        tr {
                            box-shadow: 2px 1px 3px $shadow;
                            th{
                                font-family: $font-family;
                                font-weight: $thin;
                                font-size: 12px;
                            }
                        }
                    } 
                    tbody {
                        tr {
                            box-shadow: 2px 1px 3px $shadow;
                            td {
                                font-family: $font-family;
                                font-weight: $thin;
                                padding: 3px;
                                &.actions {
                                    text-align: center;
                                    button {
                                        border: none;
                                        background: none;
                                        i {
                                            font-size: 19px;
                                            margin: 0 10px;
                                        }
                                    }
                                }
                                .active {
                                    background: rgb(24, 237, 71);
                                    height: 15px;
                                    width: 15px;
                                    border-radius: 100%;
                                    margin: 10px calc(50% - 10px);
                                    }
                                .inactive {
                                    background: rgb(240, 20, 71);
                                    height: 15px;
                                    width: 15px;
                                    border-radius: 100%;
                                    margin: 10px calc(50% - 10px);
                                }
                            }
                        }
                    }
                }
                .flex table {
                    width: 50%;
                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-flex: 1 1 auto;
                    -ms-flex: 1 1 auto;
                    flex: 1 1 auto;
                    -webkit-align-self: auto;
                    -ms-flex-item-align: auto;
                    align-self: auto;
                }
                
            } 
            .events-update {
                @include box-sizing;
                .btn-close {
                    top: 70px;
                    padding: 7px 10px;
                }
                .banner {
                    width: 100%;
                    height: 200px;
                    overflow: hidden;
                    position: relative;
                    img {
                        width: 100%;
                    }

                      h1 {
                        position: absolute;
                        top: calc(200px / 1.5);
                        color: #fff;
                        text-align: center;
                        left: 0;
                        right: 0;
                        background: rgba(25,25,25,.8);
                        padding: 20px;
                        text-transform: uppercase;
                        bottom: 0;
                        margin: 0;
                    }
                }
                form {
                    padding: 35px 90px;
                    .form-item{
                        margin: 15px 0;
                        label {
                            font-family: $font-family;
                            font-size: 12px;
                            font-weight: $regular;
                            color: #a2a2a2;
                            text-transform: capitalize;
                        }
                        input {
                            font-family: $font-family;
                            border: none;
                            border-bottom: 1px solid $shadow;
                            @include box-sizing;
                            padding: 2px 0;
                            margin: 5px 0;
                            width: 100%;
                            font-size: 15px;
                        }
                        textarea {
                            margin: 5px 0;
                            border: none;
                            font-size: 12px;
                            font-family: $font-family;
                            border-bottom: 1px solid $shadow;
                            @include box-sizing;
                            padding: 2px 0;
                            width: 100%;
                            height: 40px;
                        }
                    }
                    button {
                        opacity: 0.8;
                        border: none;
                        padding: 10px 20px;
                        background: $dark-blue;
                        border-radius: 7px;
                        float: right;
                        color: white;
                        font-size: 15px;
                        @include transition(background-color, 0.1s, ease-in-out);
                        &:hover {
                            background: $light-blue;
                            @include transition(background-color, 0.1s, ease-in-out);
                        }
                    }
                }
            }
            .events {
                @include box-sizing;
                padding: 25px 50px;
                .btn {
                    border: none;
                    border-radius: 7px;
                    background: $dark-blue;
                    padding: 10px 20px;
                    margin-bottom: 4px;
                    color: $white;
                    &:hover {
                        background: $light-blue;
                    }
                    float: right;
                }
                table {
                    width: 100%;
                    thead {
                        background: $orange;
                        color: $white;
                        height: 40px;
                        tr {
                            box-shadow: 2px 1px 3px $shadow;
                            th{
                                font-family: $font-family;
                                font-weight: $regular;
                                font-size: 13px;
                                text-transform: uppercase;
                                padding: 10px;
                            }
                        }
                    } 
                    tbody {
                        tr {
                            height: 70px;
                            box-shadow: 2px 1px 3px $shadow;
                            td {
                                @include box-sizing;
                                font-family: $font-family;
                                font-weight: $thin;
                                padding: 3px 10px;
                                &.date, &.start, &.end {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }

            }
            .dashboard{
                width: 100%;
                .dashboard-events {
                    @include box-sizing;
                    border-right: 1px solid $black;
                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-flex: 0 1 auto;
                    -ms-flex: 0 1 auto;
                    flex: 0 1 auto;
                    h1 {
                        padding-right: 35px;
                        padding-bottom: 10px;
                        text-align: right;
                        border-bottom: 1px solid $black;
                    }
                    .list {
                        width: 500px;
                        margin: 20px;
                        padding: 0;
                        .item {
                            @include box-sizing;
                            margin-bottom: 5px;
                            background: rgba(240, 240, 240, 1);
                            .date {
                                @include box-sizing;
                                padding: 20px 15px;
                                text-align: left;
                                background: $dark-blue;
                                -webkit-order: 0;
                                -ms-flex-order: 0;
                                order: 0;
                                -webkit-flex: 0 1 auto;
                                -ms-flex: 0 1 auto;
                                flex: 0 1 auto;
                                .day {
                                    text-transform: uppercase;
                                    font-weight: 100;
                                    color: $white;
                                    width: 100px;
                                    font-size: 12px;
                                }
                                p {
                                    font-weight: $bold;
                                    color: $white;
                                    margin: 0;
                                    font-size: 18px;
                                    width: 100px;
                                }
                            }
                            .info{
                                -webkit-order: 0;
                                -ms-flex-order: 0;
                                order: 0;
                                -webkit-flex: 0 1 auto;
                                -ms-flex: 0 1 auto;
                                flex: 0 1 auto;
                                .name {
                                    @include box-sizing;
                                    font-weight: $bold;
                                    padding: 20px 15px 5px 15px;
                                    text-transform: uppercase;
                                }
                                .description {
                                    @include box-sizing;
                                    font-weight: $regular;
                                    padding: 5px 15px 20px 15px;
                                }
                            }
                        }
                    }
                }
                .column {
                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-flex: 4 1 auto;
                    -ms-flex: 4 1 auto;
                    flex: 4 1 auto;
                    .dashboard-users{
                        -webkit-order: 0;
                        -ms-flex-order: 0;
                        order: 0;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        -webkit-align-self: stretch;
                        -ms-flex-item-align: stretch;
                        align-self: stretch;
                        h1 {
                            text-align: right;
                            padding-right: 35px;
                            padding-bottom: 10px;
                            border-bottom: 1px solid $black;
                        }
                        table {
                            width: calc(50% - 100px);
                            margin: 5px 50px;
                            tbody {
                                tr {
                                    box-shadow: 2px 1px 3px $shadow;
                                    td {
                                        font-family: $font-family;
                                        font-weight: $thin;
                                        padding: 3px;
                                        &.active {
                                            border-right: 1px solid $shadow;
                                            -webkit-order: 0;
                                            -ms-flex-order: 0;
                                            order: 0;
                                            -webkit-flex: 1 1 auto;
                                            -ms-flex: 1 1 auto;
                                            flex: 1 1 auto;
                                            -webkit-align-self: auto;
                                            -ms-flex-item-align: auto;
                                            align-self: auto;
                                            max-width: 35px;
                                            min-width: 35px;
                                            -webkit-align-self: center;
                                            -ms-flex-item-align: center;
                                            align-self: center;
                                        }
                                        &.name {
                                            -webkit-order: 0;
                                            -ms-flex-order: 0;
                                            order: 0;
                                            -webkit-flex: 5 1 auto;
                                            -ms-flex: 5 1 auto;
                                            flex: 5 1 auto;
                                            -webkit-align-self: auto;
                                            -ms-flex-item-align: auto;
                                            align-self: auto;
                                            -webkit-align-self: center;
                                            -ms-flex-item-align: center;
                                            align-self: center;
                                            padding-left: 15px;
                                        }
                                        .active {
                                            background: rgb(24, 237, 71);
                                            height: 15px;
                                            width: 15px;
                                            border-radius: 100%;
                                            margin: 10px;
                                        }
                                        .inactive {
                                            background: rgb(240, 20, 71);
                                            height: 15px;
                                            width: 15px;
                                            border-radius: 100%;
                                            margin: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .dashboard-beacons{
                        -webkit-order: 0;
                        -ms-flex-order: 0;
                        order: 0;
                        -webkit-flex: 1 1 auto;
                        -ms-flex: 1 1 auto;
                        flex: 1 1 auto;
                        -webkit-align-self: stretch;
                        -ms-flex-item-align: stretch;
                        align-self: stretch;
                        h1 {
                            padding-right: 35px;
                            padding-bottom: 10px;
                            text-align: right;
                            border-bottom: 1px solid $black;
                        }
                    }
                }
            }
        }

    }
}

#alert, #create {
    .btn-close: {
        top: 10px !important;
    }
    @include box-sizing;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 100px;
    right: 0;
    background: $white;
    &.visible {
        display: block;
    }
    &.hide {
        display: none;
    }
    .box {
        @include box-sizing;
        background: #f ff;
        padding: 50px;
        text-align: center;
    }
}
#create {
    .box {
        @include box-sizing;
        padding: 20px 100px;
        text-align: center;
                        p {
        text-transform: uppercase;
        border-bottom: 1px solid black;
        padding-bottom: 5px; 
        margin-bottom: 25px; 
        }
    form {
        .form-item{
            margin: 15px 0;
            label {
                font-family: $font-family;
                font-size: 12px;
                font-weight: $regular;
                color: #a2a2a2;
                text-transform: capitalize;
            }
                        input {
                            font-family: $font-family;
                            border: none;
                            border-bottom: 1px solid $shadow;
                            @include box-sizing;
                            padding: 2px 0;
                            margin: 5px 0;
                            width: 100%;
                            font-size: 15px;
                        }
                        textarea {
                            margin: 5px 0;
                            border: none;
                            font-size: 12px;
                            font-family: $font-family;
                            border-bottom: 1px solid $shadow;
                            @include box-sizing;
                            padding: 2px 0;
                            width: 100%;
                            height: 40px;
                        }
                    }
                    button {
                        opacity: 0.8;
                        border: none;
                        padding: 10px 20px;
                        background: $dark-blue;
                        border-radius: 7px;
                        float: right;
                        color: white;
                        font-size: 15px;
                        @include transition(background-color, 0.1s, ease-in-out);
                        &:hover {
                            background: $light-blue;
                            @include transition(background-color, 0.1s, ease-in-out);
                        }
                    }
                }
                }}