extends ../layout

block content
    table
      exthead
        tr
          th datum
          th naam
          th beschrijving 
          th locatie
          th start
          th stop
          th acties
      tbody
        tr  
            td datum
            td naam
            td beschrijving 
            td locatie
            td start
            td stop
            td.actions
                i.fa.fa-pencil
                i.fa.fa-trash